.text{
    color: white;
    font-family: monospace;
    align-items: center;
    text-decoration: none;
}
.logo{
    color: white;
    font-family: monospace;
    font-size: 25px;
    cursor: pointer;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.headnav{
    flex: 1;
    padding-left: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 60px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
}
.profile{
    display: inline-block;
    color: white;
    margin: auto;
    align-items: center;
}
body{
    background-color: rgb(42, 44, 44);
}